@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: hsl(200, 15%, 8%);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2 {
  margin: 0;
}

h2 {
  margin-bottom: 16px;
  font-size: 20px;
}

.border-link {
  margin: 0 10px;
}

header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  /* margin-bottom: 12px; */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 24px 0;
}

header h1 {
  font-size: 32px;
  font-weight: 800;
}

main {
  margin-top: -8px;
  background-color: hsl(0, 0%, 98%);
}

.search-wrapper {
  padding: 48px;
  max-width: 100%;
}

.search-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.search-error {
  background-color: #fff;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  justify-items:center;
  align-content: space-between;
  grid-gap: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.card-content {
  padding: 24px 20px 36px 24px;
}

.card-content span {
  font-weight: 600;
}

.card-content p {
  margin: 4px auto;
}