* {
  font-size: 14px;
  box-sizing: border-box;
}

.border-link {
  margin: 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.search-wrapper {
  background-color: hsl(0, 0%, 98%);
  padding: 48px;
  max-width: 100%;
}

.search-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.search-error {
  background-color: #fff;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.card-img {
  width: 100%;
}

.card-img img {
  max-width: 100%;
  height: auto;
}